* {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}

body {
  background-color: black;
}

a:hover {
    color:white;
   text-decoration-line: none;
}
.card {
    height: 490px;

}

.thumbnail {
    background: #4f4f4f;

}

.thumbnail>img {
    height: 400px;
     width: 400px; 
}


